<h1 class="current-category"><%= params[:category] %></h1>
<% if params[:category].blank? %>
	<h2>Najnoviji oglasi</h2>
<% end %>
<% if @advertisements.count == 0 %>
	<h1>Trenutno nema oglasa u kategoriji <%= params[:category] %></h1>

<% else %>

	<div class="row">
		<% @advertisements.each do |ad| %>
			<div class="col-md-4">
				<div class="box">
					<a href="/advertisements/<%= ad.id %>">
						<%= image_tag ad.image.url(:medium), class: "img-responsive" %>
					</a>
				</div>
			</div>
		<% end %>
	</div>

<% end %>
