/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* Styles */
body {
	background: #FC354C; 
	background: -webkit-linear-gradient(right, #FC354C, #0ABFBC);
	background: -o-linear-gradient(right, #FC354C, #0ABFBC);
	background: linear-gradient(to left, #FC354C, #0ABFBC);
}

.box {
	background-color: #fce697;
}

.main-content {
	padding-top: 10px;
	padding-left: 300px;
	
}

.well {
	padding-left: 3em;

	.ad-show {
		max-width: 100%;
		max-height: 100%;
	}
}

.col-md-4 {
	padding-top: 0;
}

.navbar {
	background: #FC354C; 
	background: -webkit-linear-gradient(right, #FC354C, #0ABFBC);
	background: -o-linear-gradient(right, #FC354C, #0ABFBC);
	background: linear-gradient(to left, #FC354C, #0ABFBC); 
	border-bottom: 3px solid black;

	.navbar-brand {
		color: #000066;
	}
}

#sidebar {
	width: 150px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background-color: #fce697;
	padding: 7em 0 0 0;
	border-right: 3px solid black;
	
	.btn-default {
		.active {
			background-color: #fce697;
		}
	}

	#category {
		list-style: none;
		position: absolute;
		padding-top: 2em;
		padding-right: 3em;
		font-weight: 700;
		font-size: 1.3em;
		color: #33acb7;
	}

	#logo {
		transform: scale(0.85, 0.85);
		position: absolute;
		left: -1em;
		top: -4em;
	}
	.btn-group-lg {
		padding-top: 4em;
		text-align: center;
		
		.btn {
			font-weight: 300;
			font-size: 1.5em;
			padding: 0.2em 0.4em;
			color: #9eafba;
			text-decoration: none;
			margin-right: -5px;
			text-align: center;
				
			&:hover {
				color: #36acb7;
			}
		}
		.active {
			color: #f3acb7;
		}
	}
}

.info {
	border-right: 5px solid #ffff80;
	border-top: 5px solid #ffff80;
	padding-top: 5px;
	border-radius: 5px;
}

.recenzije {
	border-left: 5px solid #ffff80;
	padding-left: 5px;
	border-bottom: 5px solid #ffff80;
	padding-bottom: 5px;
}

.reviews {
	padding: 10px 0;
	border-bottom: 1px solid #ffff80;
	.star-rating {
		padding-bottom: 8px;
	}
}

.img-responsive {
	height: 200px;
	width: 400px;
	padding: 5px;
	border: 3px solid black;
	border-radius: 5px;
}

.show-btn {
	margin-left: 10px;
}